<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.unic.unic_vendor_final_1">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logonotext"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logonotext"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".views.activities.AddNewProduct"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".views.shop_addition_fragments.ImagePicker" />
        <activity android:name=".views.activities.AddNewShop" />
        <activity android:name=".views.shop_addition_fragments.ProductSelector" />
        <activity android:name=".views.shop_addition_fragments.LocationSelector" />
        <activity android:name=".views.activities.SetShopStructure" />
        <activity android:name=".views.activities.AddShop" />
        <activity android:name=".views.activities.Login" />
        <activity android:name=".views.activities.SignUp" />
        <activity android:name=".views.activities.UserHome" />
        <activity
            android:name=".views.helpers.Welcome"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".views.helpers.SplashScreen"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".messaging_service.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/logonotext" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorTertiary" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.unic.unic_vendor_final_1.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

    </application>

</manifest>